/*
* Global resets
*
* Set font family and scale font by width of window.
* Taken from https://github.com/poole/hyde/blob/master/public/css/hyde.css
*/
html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

@media (min-width: 58em) {
  html {
    font-size: 1.25em;
  }
}

html,body {
  margin: 0;
  padding: 0;
}

/*
* Header styles
*/

.header {
  top: 0;
  width: 100%;
  background: #1D3557;
  color: #F1FAEE;
  text-align: center;
}

.header h1 {
  margin: 0em;
}

.header p {
  margin-top: 1em;
}


.avatar {
  width: 128px;
  height: 128px;
  display: block;
  margin: auto;
}

/*
* Header Navigation
*/
.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1D3557;
}

.header .navbar {
  height: 3em;
}

.content-padded {
  padding-top: 3em;
}

.header .navbar-sticky {
  position: fixed;
  top: 0;
  height: 3em;
  background: #1D3557;
  width: 100%;
}

.header ul li {
  float: left;
}

.header ul li a {
  display: block;
  padding: 1em;
  color: #F1FAEE;
  text-align: center;
  text-decoration: none;
}

.header ul li a:hover {
  background-color: #457B9D;
}

.header .active {
  background-color: #457B9D;
}

/*
* Content
*/
.inner-content {
    padding: 1em;
}

@media (min-width: 58em) {
  .inner-content {
    padding: 1em 8em;
  }
}

.inner-content a {
  text-decoration: none;
  color: #457B9D;
}

.inner-content a:hover {
  text-decoration: underline;
}

.post-title {
  color: #457B9D;
  padding: 0;
  margin: 0;
  font-size: 150%;
}

.page h1 {
  color: #457B9D;
  padding: 0;
  margin: 0;
  font-size: 150%;
}

.post-date {
  padding: 0;
  margin: 0;
  font-size: 80%;
  color: #1D3557;
}

.post-summary {
  padding: 0 0 1.5em;
}