@import url("../../node_modules/github-markdown-css/github-markdown.css");
@import url("../../node_modules/highlight.js/styles/atom-one-light.css");

html {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: #333333;
}

@media only screen
and (max-width : 800px) {
  html {
    font-size: 16px;
  }
}

@media only screen
and (max-width : 460px) {
  html {
    font-size: 14px;
  }
}


html,body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F6;
}

.app {
  min-height: 101vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  padding: 1em;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

/*
* Header styles
*/

.header {
  top: 0;
  width: 100%;
  background: #0277bd;
  color: #fff;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.header-content h1 {
  margin: 0em;
}

.header-content p {
  margin-top: 1em;
}

.avatar {
  width: 128px;
  height: 128px;
  display: block;
  margin: auto;
}

/*
* Header Navigation
*/

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #58a5f0;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 10;
}

.nav li {
  flex: 0 1 12%;
  display: flex;
  align-items: stretch;
}

.nav a {
  color: #333333;
  font-weight: bold;
  padding: 1em;
  flex: 1;
  text-decoration: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid #58a5f0 4px;
}

.nav a:hover {
  border-radius: 8px 8px 0 0;
  color: #111111;
}

.nav .active {
  border-bottom: 4px solid #0277bd;
}

@media only screen
and (max-width : 800px) {
  .nav li {
    flex: 0 1 25%;
  }
}

@media only screen
and (min-width : 460px) {
  .navbar-sticky {
    position: fixed;
    top: 0;
  }

  .content-padded {
    padding-top: calc(3em + 7px);
  }
}

/*
* Content
*/
.content {
    flex: 1;
    display: flex;
    justify-content: center;
}

.inner-content {
  display: flex;
  flex: 0 1 1000px;
  flex-direction: column;
  padding: 1em;
  overflow: hidden;
}

.inner-content a {
  text-decoration: none;
  color: #457B9D;
}

.inner-content a:hover {
  text-decoration: none;
}

.content-card {
  padding: 0em;
  margin: 0.5em 0em;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 0px -1px rgba(0, 0, 0, 0.2), 0 0px 2px 0 rgba(0, 0, 0, 0.12);
  min-height: 400px;
}

/*
* Post-scroller
*/
.post-scroller {
  display: flex;
  flex-direction: column;
}

.post-summary {
  display: flex;
}

.post-summary .banner {
  flex: 0 1 66%;
  max-height: 100%;
}

.banner div {
  height: 100%;
  width: 100%;
}

.post-summary .background-image {
  border-radius: 4px 0px 0px 4px;
  background-size: cover;
  overflow: 'hidden';
  max-height: 100%;
  background-position: 50% 50%;
}

@media only screen
and (max-width : 800px) {
  .post-summary {
    flex-direction: column;
  }

  .post-summary .banner {
    max-height: auto;
    max-width: 100%;
    flex: 0 0;
  }

  .post-summary .background-image {
    height: 200px;
    border-radius: 4px 4px 0px 0px;
  }
}

.post-summary .banner a {
  width: 100%;
  height: 100%;
  display: block;
}

.post-summary .summary-text {
  flex: 1 1 33%;
  padding: 1em;
}

.post-summary a {
  color: #333333;
}

.post-title {
  padding: 0;
  margin: 0;
  font-size: 2.5em;
}

.post-date {
  padding: 0;
  margin: 0;
  font-size: 0.66em;
  color: #999999;
}

/*
* Posts
*/
.post {
  padding: 1em;
}

.post .banner {
  min-height: 400px;
  width: 100%;
  margin: 1em 0em;
  height: auto;
}

.post .background-image {
  width: 100%;
  min-height: 400px;
  height: auto;
  background-size: cover;
  background-position: 50% 50%;
}

.post-body {
  display: block;
}

/*
* Pages
*/
.page {
  padding: 1em;
}

/*
* BackgroundImage
*/

.sharpen-transition-group {
  position: relative;
  min-height: 400px;
}

@media only screen
and (max-width : 800px) {
  .sharpen-transition-group {
    min-height: 200px;
  }
}

.sharpen-enter {
  position: absolute;
}

.sharpen-enter.sharpen-enter-active {
  z-index: 2;
  position: absolute;
}

.sharpen-leave {
  position: absolute;
  opacity: 1;
}

.sharpen-leave.sharpen-leave-active {
  opacity: 0.01;
  transition: opacity 250ms ease-in;
  position: absolute;
  z-index: 3;
}