html {
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
}


html,body {
  margin: 0;
  padding: 0;
}

/*
* Header styles
*/

.header {
  top: 0;
  width: 100%;
  background: #011627;
  color: #FDFFFC;
  display: flex;
  justify-content: center;
}

.header-content {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.header-content h1 {
  margin: 0em;
}

.header-content p {
  margin-top: 1em;
}

.avatar {
  width: 128px;
  height: 128px;
  display: block;
  margin: auto;
}

/*
* Header Navigation
*/

.nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  background-color: #012542;
  align-items: stretch;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 3em;
}

.nav li {
  flex: 0 1 12%;
  display: flex;
  align-items: stretch;
}

.nav a {
  color: #F1FAEE;
  flex: 1;
  text-decoration: none;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.nav a:hover {
  background-color: #02355E;
  border-radius: 8px 8px 0 0;
}

.nav .active {
  border-bottom: 4px solid #FB8B24;
}

.navbar-sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/*
* Content
*/
.inner-content {
    padding: 1em;
}

@media (min-width: 58em) {
  .inner-content {
    padding: 1em 8em;
  }
}

.inner-content a {
  text-decoration: none;
  color: #457B9D;
}

.inner-content a:hover {
  text-decoration: underline;
}

.post-title {
  color: #457B9D;
  padding: 0;
  margin: 0;
  font-size: 150%;
}

.page h1 {
  color: #457B9D;
  padding: 0;
  margin: 0;
  font-size: 150%;
}

.post-date {
  padding: 0;
  margin: 0;
  font-size: 80%;
  color: #1D3557;
}

.post-summary {
  padding: 0 0 1.5em;
}